<mat-grid-list cols="1" rowHeight="500">
  <mat-grid-tile>
    <mat-card class="test">
      <mat-card-title>Entrar al sistema:</mat-card-title>
      <mat-card-subtitle>Utilice su nombre de usuario y contraseña, los cuales son unicos para cada operador
      </mat-card-subtitle>
      <mat-card-content>

        <form class="login-form" #loginForm="ngForm">

          <mat-form-field class="example-full-width">
            <mat-label>Nombre de Usuario:</mat-label>
            <input matInput [(ngModel)]="authData.username" placeholder="Ingrese nombre de usuario" name="username">
            <mat-error *ngIf="loginForm.hasError">
              El nombre de usuario es<strong>requerido</strong>
            </mat-error>
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <mat-label>Contraseña:</mat-label>
            <input [(ngModel)]="authData.password" matInput type="password" placeholder="Contraseña" name="password">
            <mat-error *ngIf="loginForm.hasError">
              Se <strong>requiere</strong> la Contraseña
            </mat-error>
          </mat-form-field>
          <button color="primary" mat-raised-button (click)="login()">
            <mat-icon>login</mat-icon>
            Entrar
          </button>
        </form>
      </mat-card-content>
      <mat-card-actions>

        <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"> </mat-progress-bar>
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>